.PrivacyPage > div {
  margin: 1rem 0;
}

.PrivacyPage a {
  color: var(--highlight);
  transition: opacity 0.1s ease-in-out;
}
.PrivacyPage a:hover {
  opacity: 0.7;
}

.PrivacyPage p {
  margin: 1rem 0;
}
