.Content {
  border: 2px solid var(--highlight);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  background-color: var(--background-4);
}

.Taglist {
  margin: 1rem 0;
  width: 100%;
  max-width: 900px;
}

.Tag {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  background: var(--highlight);
  padding: 0.25rem 0.5rem;
  color: var(--background-1);
  border-radius: 4px;
}

.ActiveTag {
  background: var(--highlight-alt);
  color: white;
  font-weight: bold;
}

.LandingInfo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.LandingInfo p {
  margin: 1rem 0;
}

.LandingInfo a {
  color: var(--highlight);
}
