.Info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.Bio {
  margin: 1rem auto;
}
.Bio p {
  margin: 1rem 0;
}

.Info img {
  filter: grayscale(0.3);
}
