.SocialShareButtons > div:first-child {
  color: var(--highlight-alt);
}

.SocialShareButtons > div:nth-child(2) {
  margin: 1rem 0;
  font-size: 2rem;
}
.SocialShareButtons > div:nth-child(2) > *:not(:first-child) {
  margin-left: 1rem;
}
